<!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-tofit=no">
 <meta name="description" content="Parcel App">
 <meta name="author" content="Iffy K">
 <!--<link rel="icon" href="TODO">-->
 <!-- Favicons (http://realfavicongenerator.net)
 TODO -->
 <!-- Open Graph
 TODO -->
 <title>Advanced Development Unit</title>

<!-- Firebase Scripts -->
<script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">

 <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.
3/css/bootstrap.min.css" integrity="sha384-
MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="ano
nymous">

 <!-- Custom scripts -->
 <link href="static/css/custom.css" rel="stylesheet">
 </head>
 <!-- Jinja2 stuff related to generating nav and setting active state. Add more pages
here! -->
 {% set navigation_bar = [('/tracking', 'tracking', 'Tracking'), ('/products', 'products', 'Products'), ('
/orders','orders','Orders')] -%}
 {% set active_page = active_page -%}
 <body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
 <!-- Navbar branding. -->
 <a class="navbar-brand" href="index.html">WS</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" ariaexpanded="false" aria-label="Toggle navigation">
 <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
 <ul class="navbar-nav mr-auto">
 {% for href, id, caption in navigation_bar %}
 {% if id == active_page %}
 <li class="nav-item active">
 <a class="navlink" href="{{ href|e }}"><span class="sronly">{{ caption|e }}</span></a>
 </li>
 {% else %}
 <li class="nav-item">
 <a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
 </li>
 {% endif %}
 {% endfor %}
 </ul>
 </div>
 <button type="button" class="btn btn-primary" id="sign-out">Sign Out</button>
 </nav>
 <main role="main" class="container">
 <!-- Content -->
 {% block content %}
 {% endblock %}
 </main><!-- /.container -->
 <!-- Bootstrap core JavaScript -->
 <script>
     'use strict';
     window.addEventListener('load', function(){
        document.getElementById('sign-out').onclick = function () {
            firebase.auth().signOut().then(() => {
                // Successful sign out
                window.location.assign('/login');
            });
        };
     })
 </script>
 <!-- Placed at the end of the document so the pages load faster -->
 <script src="https://code.jquery.com/jquery3.3.1.slim.min.js" integrity="sha384-
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="ano
nymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/poppe
r.min.js" integrity="sha384-
ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="ano
nymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.m
in.js" integrity="sha384-
ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="ano
nymous"></script>
 </body>
 <!-- Firebase SDK -->
 <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.9.0/firebase-auth.js"></script>

 <script>
     // Your web app's Firebase configuration
     // For Firebase JS SDK v7.20.0 and later, measurementId is optional
     var firebaseConfig = {
         apiKey: "AIzaSyD-ciu-jiP5cNEAsi7HvTaz7L2kYUXIypc",
         authDomain: "parcel-ap.firebaseapp.com",
         projectId: "parcel-ap",
         storageBucket: "parcel-ap.appspot.com",
         messagingSenderId: "379529076800",
         appId: "1:379529076800:web:672571fbb418f1e2f67fa5"
     };
     // Initialize Firebase
     firebase.initializeApp(firebaseConfig);
   </script>
</html>